@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
/* Tailwind Prose Customization for Tiptap */
.prose pre {
  background-color: #1e1e1e; /* dark background */
  color: #d4d4d4; /* light text */
  padding: 1rem;
  border-radius: 0.375rem;
  overflow-x: auto;
  font-size: 0.875rem;
  line-height: 1.4;
}

.prose code {
  background-color: #3e4040;
  color: #fdc0d5;
  padding: 0.2em 0.4em;
  border-radius: 0.25rem;
}

.prose h1 {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
  color: #0a21a2;
  margin-top: 1.5rem;
}

.prose h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  color: #47474d;
  margin-top: 1.25rem;
}

.prose h3 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 500;
  color: #706b76;
  margin-top: 1rem;
}

/* Your global CSS or module CSS */
.answer-box .ProseMirror:focus {
  outline: none;
}

.answer-box .tiptap.ProseMirror{
  min-height: 16rem;
  max-height: 30rem;
  overflow: auto;
}

/* Tiptap Placeholder Effect */
.ProseMirror[data-placeholder]:empty:before {
  content: attr(data-placeholder);
  color: #9ca3af;
  pointer-events: none;
  height: 0;
  float: left;
}

/* Improved Tiptap styling */
.ProseMirror {
  outline: none;
}

.ProseMirror p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  color: #9ca3af;
  pointer-events: none;
  height: 0;
  float: left;
}